@* Adding additional css, styles required on this view. *@
@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/index.css">
}
@* Adding additional javascript libraries, functions required on this view *@
@section Scripts {

    <script src="~/lib/jquery/dist/jquery.min.js"></script>y
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="~/js/index.js"></script>
    <script type="text/javascript">

    </script>
}

<h3>Sample Web Report</h3>
<section id="report-container" class="embed-container col-lg-12 mt-2">
</section>
<!-- Used to display report embed error messages -->
<section class="error-container m-5">
</section>